# Webhook Kustomization
# Admission webhook for mutating and validating SparkApplications and pods

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - serviceaccount.yaml
  - clusterrole.yaml
  - clusterrolebinding.yaml
  - role.yaml
  - rolebinding.yaml
  - service.yaml
  - deployment.yaml
  - mutatingwebhookconfiguration.yaml
  - validatingwebhookconfiguration.yaml

# Configuration for transforming webhook namespace references
configurations:
  - kustomizeconfig.yaml
